@import "compass/css3";





*{
	margin:0;
	padding:0;
	#font-family: Century Gothic;
	font-family: 'Contrail One';
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
	box-sizing: border-box;
}


/*###############################
####menu bar css starts here#####
###############################*/
.nav_bar{
	#background-color:#000;
	overflow: hidden;
	#height:100px;
	
}

.menu_button{
	
	position: absolute;
	#background-color: #f5f5f5;
	padding: 7px 10px;	
	top: 20px;
	right: 20px;
	border-radius: 5px;	
	display:none;
	z-index:99;
	
}
.menu_icon {
	
  position: relative;
  width: 34px;
  height: 24px;
  display: inline-block;
  
}

.menu_icon span {
  position: absolute;
  #height: 0.1875em;
  height: 3px;
  width: 100%;
  #background-color: #363636;
  background-color: #fff;
  transition: all 250ms ease-in-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
}

.menu_icon span:nth-child(1) {
  #top: 0.09375em;
  top: 2px;
}

.menu_icon span:nth-child(2),
.menu_icon span:nth-child(3) {
  #top: 0.9375em;
  top: 12px;
}

.menu_icon span:nth-child(4) {
  # top: 1.875em;
  top: 22px;
}

.menu_button:hover span,
.menu_button:focus span,
.menu_button:active span {
  background: #f3f3f3;
}
.menu_button:hover{
	
	background-color: gray;
	
}

.menu_icon.is-active span:nth-child(1),
.menu_icon.is-active span:nth-child(4) {
  opacity: 0;
}

.menu_icon.is-active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu_icon.is-active span:nth-child(3) {
  #top: 0.9375em;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}


.logo {
	
	width:100px;
	margin-left:30px;
	
}

.menu_list{
	float:right;
	list-style-type:none;
	margin: 0;
	padding:0;
	#display:none;
	
}

.menu_list li{
	display: inline-block;
	margin-top:10px;
	margin-right:25px;
}
.menu_list li a{
	text-decoration: none;
	color: white;
	padding: 3px 20px;
	#border: 1px solid white;
	#background-color:yellow;
	display:block;
	font-weight: bold;
	transition: 0.6s ease;
}
.menu_list li a:hover{

	background-color:white;
	color: #000;
}


@media only screen and (max-width: 700px) {
	
	.menu_list {
		position: fixed;
		top: 0px;
		height: 100vh;
        text-align: center;
		background-color: rgba(0,0,0,0.9);
        width: 100%;
        display: none;
		z-index: 4;
		padding-top:80px;
		
    }
	.menu_list li {
	
        display: block;
		float: none;
        #border-bottom: 1px solid white;
        margin: 0;
     
    }
	.menu_list li a {
		width: 70%;
		margin: auto;
		margin-top: 20px;
		font-size: 25px;
		display: block;
		padding:20px;
	}
	.menu_button{
	
		display: block;
	}
	
}

/*###############################
####menu bar css ends here#####
###############################*/

#tc {
	
	height: auto;
	overflow: hidden;
	background: #000;
	background-size: cover;
	background-position: center center;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)),url(../image/ethical_hacking2.jpg);
	background-attachment: fixed;
	
	
}

.butn {
	text-align: center;
	margin-top: 30px;
	#position:absolute;
	#top:65%;
	#left:50%;
	#transform: translate(-50%,-50%);		
}

.butn a{
	
	display:inline-block;
	padding: 7px 15px;
	color:white;
	text-decoration: none;
	border: 2px solid white;
	font-weight: bold;
	font-size: 20px;
	
}

.butn a:hover {
	background-color: #fff;
	color: #000;
	border:0;
}


.title {
	#position:absolute;
	width:80%;
	margin: auto;
	margin-top: 40px;
	#top:20%;
	#left:50%;
	#transform: translate(-50%,-50%);		
}

.title h1 {
		#background-color: yellow;
		text-align:center;
		color: white;
		font-size: 25px;
}

.sub_title {
	font-weight:1; 
	
	font-size: 20px;
	
}
.tc_points {
	
	#position:absolute;
	width: 80%;
	margin: auto;
	margin-top: 40px;	
	margin-bottom: 40px;
	#top:40%;
	#left:50%;
	#transform: translate(-50%,-50%);		
}

.tc_points h1{
	text-align:center;
	color: white;
}

.tc_points ul {
		list-style:none;
		list-style-type: square;
		list-style-position:outside;
}
.tc_points ul li {
	color:white;
	padding-top: 18px;
	font-size: 16px;
}


@media only screen and (max-width: 700px) {
		
		#tc{
	
		   height: auto;
		   overflow:hidden;
		   
		}
		.title h1 {
				text-align:center;
				color: white;
				font-size: 30px;
		}

		.sub_title {			
			font-weight:1;
			font-size: 20px;
			
		}
		.tc_points {
			
		}
}

.myButn {
	text-align: center;
	margin-top: 30px;
	overflow:hidden;
	#position:absolute;
	#top:65%;
	#left:50%;
	#transform: translate(-50%,-50%);		
}

.myButn a{
	
	display:inline-block;
	padding: 7px 15px;
	color:white;
	text-decoration: none;
	border: 2px solid white;
	font-weight: bold;
	font-size: 20px;
	
}

.myButn a:hover {
	background-color: #fff;
	color: #000;
	border:0;
}



/* footer css starts here */

			#chs_footer {
				
				width:auto;
				height:auto;
				overflow: hidden;
				background-color: #000;
				color: white;
			}	

			.chs_footer_container {
			
				width: 700px;
				margin: auto;
				margin-top: 2em;
				margin-bottom: 0em;
				text-align:center;
			}
			
			.footer_logo_cont {
				
				padding-bottom:20px;
				
			}
			.footer_logo_cont a {
				text-decoration:none;
				color: #fff;
				font-size: 25px;
			
			}
			.chs_footer_nav {
			
				margin-bottom: 20px;
			}
			.chs_footer_nav_cont{
				
				list-style: none;
				text-align: center;
			
			}
			.chs_footer_nav li {
			
				display: inline-block;
				
			
			
			}
			.chs_footer_nav li a {
				text-decoration: none;
				color:#fff;
				display: block;
				padding:5px 20px;
				#background-color: yellow;
			}
			.socio_icon {
				display:inline-block;
			}
			.socio_icon a{
				padding: 10px;
				
			}
			.socio_icon a img {
				
		
				width: 30px;
			
			}
			.socio_icon a img:hover {
			
				width:32px;
			}
			.chs_copyright {
			
				padding: 20px;
			}
			.socio_bar {
			
				height:30px;
			}
			@media only screen and (max-width: 700px) {
				.chs_footer_container {
					width: 100%;
				}
				.chs_copyright{
					width: 300px;
					margin:auto;
				}
			
			}
			}
			}
			}