@import "compass/css3";

body{
  background:#222222;
  color:white;
  font-size:120px;
  text-align:center;
}
%effect{
  -webkit-filter: url("#glitch");
  filter:url("#glitch");
}
.text{
  @extend %effect;
  display:inline-block;
}