@import "compass/css3";



/* PRELOADER CSS*/
.spinner-wrapper {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #000;
z-index: 999999;
}

@import "http://battlelog.battlefield.com/cdnprefix/local/public/base/fonts/purista/purista.css";


.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -80px;
  margin-top: -40px;
}

.bg {
  padding: 30px 30px 30px 0;
  background: #306f99;
  -moz-animation: bg 1.5s linear infinite;
  -webkit-animation: bg 1.5s linear infinite;
  animation: bg 1.5s linear infinite;
  -moz-box-shadow: inset 0 0 45px 30px black;
  -webkit-box-shadow: inset 0 0 45px 30px black;
  box-shadow: inset 0 0 45px 30px black;
}

.loading {
  position: relative;
  text-align: right;
  text-shadow: 0 0 6px #bce4ff;
  height: 20px;
  width: 150px;
}
.loading span {
  display: block;
  text-transform: uppercase;
  position: absolute;
  right: 30px;
  height: 20px;
  width: 200px;
  line-height: 20px;
}
.loading span:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  right: -21px;
  height: 20px;
  width: 16px;
  background: #eaf7ff;
  -moz-box-shadow: 0 0 15px #bce4ff;
  -webkit-box-shadow: 0 0 15px #bce4ff;
  box-shadow: 0 0 15px #bce4ff;
  -moz-animation: blink 3.4s infinite;
  -webkit-animation: blink 3.4s infinite;
  animation: blink 3.4s infinite;
}
.loading span.title {
  -moz-animation: title 3.4s linear infinite;
  -webkit-animation: title 3.4s linear infinite;
  animation: title 3.4s linear infinite;
}
.loading span.text {
  -moz-animation: title 3.4s linear 1.7s infinite;
  -webkit-animation: title 3.4s linear 1.7s infinite;
  animation: title 3.4s linear 1.7s infinite;
  opacity: 0;
}

@-webkit-keyframes title {
  0% {
    opacity: 0;
    right: 130px;
  }
  48% {
    opacity: 0;
    right: 130px;
  }
  52% {
    opacity: 1;
    right: 30px;
  }
  70% {
    opacity: 1;
    right: 30px;
  }
  100% {
    opacity: 0;
    right: 30px;
  }
}
@-moz-keyframes title {
  0% {
    opacity: 0;
    right: 130px;
  }
  48% {
    opacity: 0;
    right: 130px;
  }
  52% {
    opacity: 1;
    right: 30px;
  }
  70% {
    opacity: 1;
    right: 30px;
  }
  100% {
    opacity: 0;
    right: 30px;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes bg {
  0% {
    background-color: #306f99;
  }
  50% {
    background-color: #19470f;
  }
  90% {
    background-color: #734a10;
  }
}
@-moz-keyframes bg {
  0% {
    background-color: #306f99;
  }
  50% {
    background-color: #19470f;
  }
  90% {
    background-color: #734a10;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    right: -21px;
  }
  45% {
    opacity: 1;
    right: 80px;
  }
  50% {
    opacity: 0;
    right: -21px;
  }
  51% {
    right: -21px;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    right: -21px;
  }
  95% {
    opacity: 1;
    right: 80px;
  }
  96% {
    right: -21px;
  }
  100% {
    opacity: 0;
    right: -21px;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    right: -21px;
  }
  45% {
    opacity: 1;
    right: 80px;
  }
  50% {
    opacity: 0;
    right: -21px;
  }
  51% {
    right: -21px;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    right: -21px;
  }
  95% {
    opacity: 1;
    right: 80px;
  }
  96% {
    right: -21px;
  }
  100% {
    opacity: 0;
    right: -21px;
  }
}



/* PRELOADER CSS ENDS HERE-----------------------------------------------------------------*/


*{
	margin:0;
	padding:0;
	#font-family: Century Gothic;
	font-family: 'Contrail One';
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
	padding:0;
	box-sizing: border-box;
}
/*
.slider{
	background-image: url(image/2.jpg);
	height:100vh;
	background-size:cover;
	background-repeat: no-repeat;
	background-position:center;
	background-attachment: fixed;
	animation: slide 15s infinite;
	-webkit-animation: slide 15s infinite;
    -moz-animation: slide 15s infinite;
	
}
@keyframes slide{	
	33%{
		background-image: url(image/3.jpg);
	}	
	67%{
		background-image: url(image/4.jpg);
	}
	100%{
		
		background-image: url(image/2.jpg);
	}

}
@-webkit-keyframes slide{
	
	33%{
		background-image: url(image/3.jpg);
	}	
	67%{
		background-image: url(image/4.jpg);
	}
	100%{
		
		background-image: url(image/2.jpg);
	}

}
@-moz-keyframes slide{
	
	33%{
		background-image: url(image/3.jpg);
	}	
	67%{
		background-image: url(image/4.jpg);
	}
	100%{
		
		background-image: url(image/2.jpg);
	}

}

*/
/* for the home page background */

.large-header {
   position: relative;
   width: 100%;
   height:100vh;
   background: #111;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: 1;
}

.demo .large-header {
   background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}



.demo {
   #text-transform: uppercase;
   #font-size: 4.2em;
   #letter-spacing: 0.1em;
}



@media only screen and (max-width: 768px) {
   .demo  {
      #font-size: 3em ;
   }
}

.logo {
	
	width:100px;
	margin-left:30px;
	
}
.nav_bar{
	#background-color:red;
	overflow: hidden;
	#height:100px;
	
}
.menu1{
	float:right;
	list-style-type:none;
	margin: 0;
	padding:0;
	
}

.menu1 li{
	display: inline-block;
	margin-top:10px;
	margin-right:25px;
}
.menu1 li a{
	text-decoration: none;
	color: white;
	padding: 3px 20px;
	#border: 1px solid white;
	#background-color:yellow;
	display:block;
	font-weight: bold;
	transition: 0.6s ease;
}
.menu1 li a:hover{

	background-color:white;
	color: #000;
}

.label1 {
    margin: 0 40px 0 0;
    font-size: 30px;
    line-height: 30px;
    display: none;
    width: 30px;
    float: right;
	padding:4px;
	color:white;
}
#toggle1 {

    display: none;
	
}

@media only screen and (max-width: 700px) {
	
	
	.logo {
	
		width: 80px;
		margin-left:15px;
		margin-top: 5px;
	
	}
	.label1 {
		
		margin: 20px 25px 0 0;
        display: block;
        cursor: pointer;
    }
	
    .menu1 {
        text-align: center;
        width: 100%;
        display: none;
    }
	.menu1 li {
        display: block;
		float: none;
        #border-bottom: 1px solid white;
        margin: 0;
     
    }
	.menu1 li a {
		display: block;
		padding-left:20px;
	}
    #toggle1:checked + .menu1 {
        display: block;
    }   
}




.title {
	position:absolute;
	width:100%;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);		
}

.title h1 {
		#background-color: yellow;
		text-align:center;
		color: white;
		font-size: 80px;
}

.sub_title {
	font-weight:1; 
	
	font-size: 25px;
	
}
.butn {
	position:absolute;
	top:70%;
	left:50%;
	transform: translate(-50%,-50%);		
}
.butn a{
	
	
	display:inline-block;
	width: 140px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	padding: 10px 15px;
	color:white;
	text-decoration: none;
	text-align:center;
	border: 2px solid white;
	font-weight: bold;
	font-size: 18px;
}

.butn a:hover {
	background-color: #fff;
	color: #000;
	border:0;
}
.course_more {
	position:absolute;
	top:93%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align: center;
	
}
.course_more a {
		text-decoration: none;
		display:block;
		color: white;
		margin-bottom: 5px;
}
.course_more img {
	position :relative;
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 1.5s infinite;
}

@-webkit-keyframes mymove {
  from {top: 0px;}
  to {top: 200px;}
}

/* Standard syntax */
@keyframes mymove {
  from {top: 0px;}
  to {top: 20px;}
}


@media only screen and (max-width: 870px) {
		
		.butn a{
				display: block;
		}				
	}
@media only screen and (max-width: 700px) {
		.title h1 {
				text-align:center;
				color: white;
				font-size: 40px;
		}

		.sub_title {			
			font-weight:1;
			font-size: 25px;
			
		}

}

#course_why{
		#height: 100vh;
		width: 100%;
		background-color: #bebebe;
}
.course_why_cont{
	
	width: 700px;
	margin:auto;
	padding-top: 100px;
	padding-bottom: 100px;
	#padding: 40px;
	text-align:center;
}
.course_why_cont h1 {
	
	margin-bottom: 20px;
}
.course_why_cont p {

	line-height: 25px;
	font-size: 20px;
	margin-bottom: 20px;
	text-align: justify;
		text-justify: inner-word
}

@media only screen and (max-width: 1000px) {
	
	
	#course_why{
			#height: 100vh;
	}
	.course_why_cont{
		
		width: 700px;
		margin:auto;
		padding-top: 100px;
		padding-bottom: 100px;
		#padding: 40px;
		text-align:center;
	}
	.course_why_cont h1 {
		
		margin-bottom: 20px;
	}
	.course_why_cont p {
		
		line-height: 25px;
		font-size: 20px;
		text-align: justify;
		text-justify: inner-word;
	}
	

}

@media only screen and (max-width: 700px) {
	
	#course_why{
			#height: 100vh;
			
	}
	.course_why_cont{
		
		width: 85%;
		margin:auto;
		padding-top: 30px;
		padding-bottom: 30px;
		
		text-align:center;
	}
	.course_why_cont h1 {
		
		margin-bottom: 20px;
	}
	.course_why_cont p {

		line-height: 20px;
		font-size: 16px;
		text-align: justify;
		text-justify: inner-word
		
	}
	
}



#services_tab {
	
	height: auto;
  font-family: 'Contrail One';
  color: #fff;
  background-color: #000;
  /* used for usingg z-index, so that we can take background in the backward of the all before, after, text*/
  position: relative;
  z-index: -9;
}

.services_wrapper {
  text-align: center;
  padding-bottom: 2.5em;
}

.services_title {
  font-size: 3em;
  position: relative;
  margin: 0 auto 0;
  padding: 1em 1em .25em 1em;
  text-align: center;
  text-transform: uppercase;
}

.services_title:after {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 240px;
  height: 4px;
  margin-left: -120px;
  content: '';
  background-color: #fff;
}

.services_quote {
  font-size: 1.5em;
  position: relative;
  margin: 1em auto 3.5em;
  padding: 1em 1em .25em 1em;
  text-align: center;
  #text-transform: uppercase;
}

/* Clip text element */
.services_clip-text {
  font-size: 4em;
  font-weight: bold;
  line-height: 1;
  width: 450px;
  position: relative;
  display: inline-block;
  margin: .25em;
  padding: .5em .75em;
  text-align: center;
  text-decoration: none;
  /* Color fallback */
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services_clip-text:before,
.services_clip-text:after {
  position: absolute;
  content: '';
}

/* Background */
.services_clip-text:before {
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
}

/* Text Background (black zone) */
.services_clip-text:after {
  position: absolute;
  z-index: -1;
  top: .125em;
  right: .125em;
  bottom: .125em;
  left: .125em;
  background-color: #000;
}

/* Change the background position to display letter when the black zone isn't here */
.services_clip-text--no-textzone:before {
  background-position: -.65em 0;
}

.services_clip-text--no-textzone:after {
  content: none;
}

/* Use Background-size cover for photo background and no-repeat background */
.services_clip-text--cover,
.services_clip-text--cover:before {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}

/* Background image from http://thepatternlibrary.com/ and http://lorempixel.com */
.services_clip-text_one {
  background-image: url(http://hd.wallpaperswide.com/thumbs/simple_abstract_painting-t2.jpg);
}


@media only screen and (max-width: 700px) {
	
		.services_clip-text {
		  font-size: 1em;
		  width: 200px;
	
		}
		
		.services_quote {
		  font-size: 1.5em;
		  margin: 1em auto 1.5em;
		  padding: 1em 1em .25em 1em;
	
		}

		
	
}
